/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color:palevioletred;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  color: wheat;
  font-size: 48px;
}

input {
  padding: 17px;
  margin: 10px;
  font-size: 22px;
}

p {
  font-size: 32px;
  color:white;
}

/* Add more styles as needed */
